.links-section {
  padding-right: 30px;
  padding-left: 100px;
  padding-top: 50px;
}

.up-arrow {
  display: flex;
  justify-content: flex-end;
}

.links-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: "100%";
  padding-right: 10%;
}

.link-details {
  padding-right: 10%;
}

.links-heading {
  font-size: 18px;
}

.links {
  font-size: 16px;
}

.social-links-container {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.footer {
  background-color: #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}
