.each-solution-item-container {
  background-color: #f5f5f7;
  border-radius: 24px;
  max-width: 320px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 15px;
  padding: 15px;
}
.solution-image {
  max-height: 160px;
  max-width: 160px;
  align-self: center;
}
.solution-title {
  color: #23293c;
  font-family: "Mont";
  font-size: 20px;
  letter-spacing: -0.29px;
  line-height: 44px;
  text-align: left;
}
.solution-description {
  color: #23293c;
  font-family: "SFProDisplay";
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 30px;
  max-width: 271px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .each-solution-item-container {
    background-color: #f5f5f7;
    border-radius: 12px;
    max-width: 140px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5px;
    padding: 8px;
    margin-bottom: 5px;
  }
  .solution-image {
    max-height: 90px;
    max-width: 90px;
    align-self: center;
  }
  .solution-title {
    color: #23293c;
    font-family: "Mont";
    font-size: 14px;
    letter-spacing: -0.29px;
    line-height: 30px;
    text-align: left;
  }
  .solution-description {
    color: #23293c;
    font-family: "SFProDisplay";
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 30px;
    max-width: 150px;
    text-align: left;
  }
}
